<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Collection</title>
    <!-- <link rel="stylesheet" href="/assets/css/navbar.css" /> -->
    <link rel="stylesheet" href="/assets/css/collection.css" />
    <link rel="stylesheet" href="/assets/css/add-collection.css" />
    <link rel="stylesheet" href="/assets/css/task-list.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      .active { color: orangered !important; font-weight: bold !important; }
    </style>
  </head>
  <body>
    <!-- NAV -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/Day 10/index.html">
          <img
            src="https://www.seekpng.com/png/full/25-252939_thumbtack-pin-icon-white-transparent.png"
            style="width: 50px"
            alt="image here"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link text-white"
                aria-current="page"
                href="/"
              >Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" href="collection">Add
                Collection</a>
            </li>
          </ul>

          <a
            style="margin-right: 10px;"
            href="/logout"
            class="btn btn-outline-danger"
          >Logout</a>

        </div>
      </div>
    </nav>
    <!-- NAV -->

    <!-- FORM VIEW -->
    <div class="collection-view">

      <div class="back-btn">
        <a href="collection">
        <img
          src="https://iconape.com/wp-content/files/wp/367363/svg/ios-arrow-back-logo-icon-png-svg.png"
          alt="back"
        />
        </a>
      </div>

      <section class="grid-container">
        {{#each data}}
          <div class="grid-item">
            <div>
              <img src="{{image}}" alt="ini gambar rusak" />
            </div>

            <div class="grid-description">
              <a href="/collection-detail/{{id}}"><h5>{{nameColl}}</h5></a>
              <a
                href="/collection-detail/{{id}}"
                type="button"
                class="btn btn-primary"
              >view</a>
            </div>
          </div>
        {{/each}}
      </section>
    </div>
    <!-- FORM VIEW -->

    <!-- FORM -->
    <div class="form-container2">

      <br />
      {{! <h1>ADD MY COLLECTION</h1> }}
      <br />

      <form
        action="/add-collection"
        method="post"
        enctype="multipart/form-data"
      >

        <div class="blog-proname">
          <label for=""> Title </label>
          <input
            class="blog-input"
            id="pronameinput"
            placeholder="Enter Collection here..."
            name="nameColl"
            required
          />
        </div>

        <div class="blog-proname">
          <label for="projectTitle">Task Name</label>
          <div>
            <input
              class="blog-task"
              id="name_task"
              placeholder="Enter Task here..."
              name="name_task"
            />
            <button class="add-btn" type="button" id="addButton">Add</button>
          </div>
          <br />
          <ul id="titleList"></ul>
        </div>

        <div class="blog-proname">
          <label for="image"> Upload Image </label>

          {{! <img
            src=""
            id="imagePreview"
            alt="Image Preview"
            class="img-fluid rounded-2 w-25 mb-3"
            style="display: none;"
          /> }}

          <div class="blog-upload">
            <input
              class="blog-input"
              type="file"
              id="imageinput"
              name="uploadImage"
              required
            />
          </div>

        </div>

        <div class="submit-btn-div">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
    <!-- FORM -->

    <script src="/assets/js/form.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>